<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="cn" connectionString="server=.;database=test_master;user id=root;password=" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
